body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .bold {
  font-weight: bold;
}

header,
main,
footer {
  padding-left: 300px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
  }
}

header .brand-logo {
  height: 100%;
}

header #search-icon {
  line-height: 50px;
  color: #ccc;
}

header #search {
  height: auto;
  margin: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

main #progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

main #progress li {
  width: 25%;
}

main #sits ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #sits ul li {
  width: 100%;
}

main #sits ul li i {
  cursor: pointer;
  border: 1px solid #ccc;
}

main #showInfo table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #showInfo table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .carousel .carousel-item {
  cursor: pointer;
  width: 100%;
  height: auto;
}

main .container {
  padding: 1rem;
  margin-top: 1rem;
}

main .container .goods {
  cursor: pointer;
}
