@import "./global";
main {
  #progress {
    display: flex;
    text-align: center;
    li {
      width: 25%;
    }
  }
  #sits {
    ul{
      display: flex;
      li{
        width: 100%;
        i{
          border: 1px solid #ccc;
        }
        
      }
    }
  }
  #showInfo{
    table{
      display: flex;
      tr{
        
        display: flex;
        flex-direction: column;
      }
    }
  }
}